// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #000000;
$title-color: rgba(255, 255, 255, 0.7);
$text-color: rgba(255, 255, 255, 0.7);
$moreinfo-color: rgba(255, 255, 255, 0.7);
$updated-at-color: rgba(255, 255, 255, 0.3);
 
// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-status-traffic-light {
 
  background-color: $background-color;
  
  .title {
    color: $title-color;
  }
 
  .more-info {
    color: $moreinfo-color;
  }
  
  .updated-at {
    color: $updated-at-color;
  }
}
 
.rag_r { background-color: #FF0000; }
.rag_a { background-color: #FBFF19; }
.rag_g { background-color: #00FF21; }
