<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  
  Dashing.gridsterLayout('[{"col":4,"row":2,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":4,"size_y":1},{"col":1,"row":2,"size_x":3,"size_y":1}]')
  Dashing.widget_base_dimensions = [470, 380]
  Dashing.numColumns = 4
});
</script>



<% content_for :title do %>Helpdesk Status<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="status" data-view="Ragstatus" data-summary="System status unknown"></div>
    </li>
	
	<li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="messages" data-view="Text" data-title="Messages" data-text=""></div>
    </li>
	
  </ul>
  <center>
</div>
