// ----------------------------------------------------------------------------
// Mixins
// ----------------------------------------------------------------------------
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #000000;
$message-auto-color: rgba(255, 255, 255, 0.4);
$message-manual-color: rgba(255, 255, 255, 0.7);
$updated-at-color: rgba(0, 0, 0, 0.5);
 
// ----------------------------------------------------------------------------
// widget-motd styles
// ----------------------------------------------------------------------------
.widget-motd {
 
  background-color: $background-color;
  @include transition(background-color, 1s, linear);
 
  .updated-at {
    color: $updated-at-color;
  }
}

.message-auto { 
  background-color: #000000;
  .status {
    color: $message-auto-color;
  }
}

.message-manual {
  background-color: #B200FF;
  .status {
    color: $message-manual-color;
  }
}
